In [28]:
import pandas as pd
import os

##Requires - data directory FOLDER: Census D
data_dir = 'Data/Census Data'

file_years = [
    ('2015_CensusData.csv', 2015),
    ('2016_CensusData.csv', 2016),
    ('2017_CensusData.csv', 2017),
    ('2018_CensusData.csv', 2018),
    ('2019_CensusData.csv', 2019),
    ('2021_CensusData.csv', 2021),
    ('2022_CensusData.csv', 2022)
]

df_list = []

for file_name, year in file_years:
    df = pd.read_csv(os.path.join(data_dir, file_name))
    df['Year'] = year
    df_list.append(df)

census_data_torename = pd.concat(df_list, ignore_index=True)
census_data = census_data_torename.drop(columns = ['B19051_001M' , 'B19051_002M', 'B19051_003M', 'Unnamed: 8'])

census_data.columns = [
    'census_geo_id', 'census_geo_name', 'average_household_earnings', 'avg_household_earnings_with_earnings', 'avg_household_earnings_no_earnings', 'year'
]

census_data = census_data[1:]

,census_geo_id,census_geo_name,average_household_earnings,avg_household_earnings_with_earnings,avg_household_earnings_no_earnings,year
1,310M200US10140,"Aberdeen, WA Micro Area",27430,18151,9279,2015
2,310M200US10180,"Abilene, TX Metro Area",59372,46642,12730,2015
3,310M200US10300,"Adrian, MI Micro Area",37016,26606,10410,2015
4,310M200US10380,"Aguadilla-Isabela, PR Metro Area",109586,51657,57929,2015
5,310M200US10420,"Akron, OH Metro Area",282456,214177,68279,2015
6,310M200US10460,"Alamogordo, NM Micro Area",23919,16299,7620,2015
7,310M200US10500,"Albany, GA Metro Area",57597,41340,16257,2015
8,310M200US10540,"Albany, OR Metro Area",46315,32960,13355,2015
9,310M200US10580,"Albany-Schenectady-Troy, NY Metro Area",342766,267936,74830,2015
10,310M200US10700,"Albertville, AL Micro Area",33972,24541,9431,2015