In [13]:
import requests
import json
import pandas as pd

base_url = "http://localhost:8001"

## API Options:

In [14]:
response = requests.get(base_url)
print(response.text)

    Welcome to Group 6's Inflation Information API. Here are the options you can use:
    1. /api/aggregate_data: Aggregate most recent data. (Run first!)
    2. /api/get_metros: Returns a list of searchable metros.
    3. /api/get_means: Returns means for city identified in input. See example.
    4. /api/get_correlations: Returns correlations on means for two of the following metrics: 'zillow_rent_index_value', 'avg_household_earnings', 'unleaded_gas_cpi', 'electricity_cpi', 'utility_gas_cpi'
    5. /api/get_earnings_data : Takes a city_name: {city} and returns all earnings data available for that city.

## Aggregate Most Recent Data

In [15]:
url = 'http://localhost:8001/api/aggregate_data'
response = requests.post(url)
print('Message:', json.loads(response.content))

Message: {'message': 'data successfully aggregated'}

## Get Available Metros

In [16]:
url = 'http://localhost:8001/api/get_metros'
response = requests.get(url)
data = response.json()
df = pd.DataFrame(list(data.items()), columns=['Code', 'Metro Name'])
print('Status Code:', response.status_code)
print(df)

Status Code: 200
   Code          Metro Name
0   ATL         Atlanta, GA
1   BAL       Baltimore, MD
2   BOS          Boston, MA
3   BUF         Buffalo, NY
4   CHI         Chicago, IL
5   CIN      Cincinnati, OH
6   CLE       Cleveland, OH
7   DAL          Dallas, TX
8   DEN          Denver, CO
9   DET         Detroit, MI
10  HON  Urban Honolulu, HI
11  HOU         Houston, TX
12  KAN     Kansas City, MO
13  LOS     Los Angeles, CA
14  MIA           Miami, FL
15  MIL       Milwaukee, WI
16  MIN     Minneapolis, MN
17  NEW        New York, NY
18  PHI    Philadelphia, PA
19  PHO         Phoenix, AZ
20  PIT      Pittsburgh, PA
21  POR        Portland, OR
22  RIV       Riverside, CA
23  SAN   San Francisco, CA
24  SEA         Seattle, WA
25  STL       St. Louis, MO
26  TAM           Tampa, FL
27  WAS      Washington, DC

## GET METRICS FOR SELECTED METRO
Accepts JSON object containing requested metro code and year (2015-2019, 2021-2022) from list above. Example: {'metro' : 'ATL', 'year': 2019 }

In [17]:
url = 'http://localhost:8001/api/get_means'
data = { 'metro': 'ATL', 'year' : 2019 }
response = requests.get(url, json=data)
print('Status Code:', response.status_code)
print('Available Metrics:', json.loads(response.content))

Status Code: 200
Available Metrics: {'Avg Household Earnings': 2294560.0, 'Electricity CPI': 0.12, 'Metro': 'Atlanta, GA', 'Unleaded Gasoline CPI': 2.42, 'Utility Gas CPI': 1.76, 'Year': 2019, 'Zillow Rent Index': 1398.47}

## Get Correlations. 
This example uses ZORI and CPI (unleaded gas)

In [18]:
url = 'http://localhost:8001/api/get_correlations'
data = { 'metric1': 'zillow_rent_index_value', 'metric2': 'unleaded_gas_cpi' }
response = requests.get(url, json=data)
print('Correlation:', json.loads(response.content))

Correlation: {'Correlation': 0.590290161161376, 'Metrics': 'zillow_rent_index_value ~ unleaded_gas_cpi'}

## See Average Earning Data for City
Enter desired city. Ex: La Crosse, WI

In [19]:
city_name = 'La Crosse'

url = 'http://localhost:8001/api/get_earnings_data'
response = requests.post(url, json={'city_name': city_name})
json_data = response.json()
if json_data:
    df = pd.DataFrame(json_data)
    print(f"Average Household Earnings by Year for: {city_name}")
    print(df)
else:
    print("No data to display.")

Average Household Earnings by Year for: La Crosse
   avg_household_earnings  year
0                   54008  2015
1                   55390  2016
2                   55940  2017
3                   56157  2018
4                   56515  2019
5                   58000  2021
6                   59350  2022
7                   59350  2022